
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
    <p>曲名：<%= post.song_title %>      &nbsp;アーティスト名：<%= post.singer %></p>
    <p><%= post.text %></p>
    <div iframe-content>
    <!-- <div class="embed-responsive embed-responsive-4by3"> -->
      <iframe class="embed-responsive-item" src="<%= post.youtube_url %>"></iframe>
    </div>
    
    <% end %>
