<body class="post-view">
    <div class="enter">
        <%= form_tag("/posts/#{@post.id}", method: :patch ) do %>
        <h3>
            編集する
        </h3>
        <ul>
            <li><input placeholder="曲名" type="string" name="song_title" value="<%= @post.song_title %>"></li>
            <li><input placeholder="歌手" type="string" name="singer" value="<%= @post.singer %>"></li>
            <li><input placeholder="Youtube Url" type="text" name="youtube_url" value="<%= @post.youtube_url %>"></li>
            <li>
                <textarea cols="30" name="text" placeholder="text" rows="10"><%= @post.text %></textarea>
            </li>
            <li><input type="submit" value="SENT"></li>
        </ul>
        <% end %>
    </div>
</body>
