<% @posts.each_with_index do |post, i| %>
  <div class="grid-10">
  <div class="thumbnail">
  <p><%= post.user.nickname %>さん</p>
  <p>曲名：<%= post.song_title %><br>アーティスト名：<%= post.singer %></p>
  <div iframe-content>
    <iframe class="embed-responsive-item" src="<%= post.youtube_url %>"></iframe>
  </div>
  <p><%= post.text %></p>

  <%= render partial: "likes/like", locals: { post: post, i: i} %>


  <% if user_signed_in? && post.user_id == current_user.id %>
  <%= link_to '編集', "/posts/#{post.id}/edit" %>
   <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
  <% end %>
  <%= link_to '詳細', "/posts/#{post.id}" %>
  </div>
  </div>
<% end %>
