<div class="show">
<div class="thumbnail">
<p><%= @post.user.nickname %>さん</p>
<p>曲名：<%= @post.song_title %><br>アーティスト名：<%= @post.singer %></p>
<div iframe-content>
  <iframe class="embed-responsive-item" src="<%= @post.youtube_url %>"></iframe>
</div>
<p><%= @post.text %></p>
</div>
</div>

<% if current_user %>
  <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
  <textarea cols="30" name="comment" placeholder="コメントする" rows="2"></textarea>
       <input type="submit" value="SENT">
     <% end %>
   <% end %>

   <h4>＜コメント一覧＞</h4>
     <% if @comments %>
       <% @comments.each do |comment| %>
         <p>
           <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
           <%= comment.comment %>
         </p>
       <% end %>
     <% end %>
